@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');



/*#10B981 #1BC48C 2 colors for primary color for the site  choose one */

/*Root element fot the entire page*/

:root {
    --primary-color:#1BC48C;
}

/*Font :- Lato*/

body{
    font-family: 'Lato', sans-serif;
}

/*containers*/
.container{
    padding: 0rem 1rem;
}

.container-centre{
    max-width: 535px;
    margin: auto;
}

/*we don't need one for fluid container*/

/*Links*/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/*Primary Link */
.prim-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: ivory;
}

/*Secondary Link */
.sec-link{
    color:var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
}
