@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');



/*#10B981 #1BC48C 2 colors for primary color for the site  choose one */

/*Root element fot the entire page*/

:root {
    --primary-color:#1BC48C;
}

/*Font :- Lato*/

body{
    font-family: 'Lato', sans-serif;
}

/*containers*/
.container{
    padding: 0rem 1rem;
}

.container-centre{
    max-width: 535px;
    margin: auto;
}

/*we don't need one for fluid container*/

/*Links*/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/*Primary Link */
.prim-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: ivory;
}

/*Secondary Link */
.sec-link{
    color:var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
}

/*hr*/
/*here I did not use class*/
/*I used hr tag (HTML) here because I wanted to change all hr tags*/
hr{
    margin: 1rem 0rem
}
/*in padding and margin
the format is :-*/
/*1)top right bottom left -- 1ren 2ren 1ren 2ren
  2)top (left,right) bottom -- 1ren 2ren 1ren
  3)(top,bottom) (left,right) -- 1ren 2ren*/

 /*Lists*/

 /*non-bulleted list*/

.list-non-bullet{
      list-style: none;
  }

/*list-inline*/
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}

/*Navigation*/
.nav-bar{
    background-color: var(--primary-color);
    color: ivory;
    border-bottom-left-radius: 0.5rem;
    padding: 0.3rem 1rem 1rem 1rem;
}
.nav-bar .link {
    color:ivory;
    font-size: 1ren;
}

.nav-pills{
    text-align: right;
}
.nav-bar .link-active{
    font-weight: bold;
    font-size: 1.1rem;
}